.center{
    margin-top: 1%;
    margin-left: 25%;
    margin-right: 25%;
}
table {
    margin-top: 15%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #dddddd;
}