<mat-toolbar color = "accent">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    
    <span>Electricity Board</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      Login
    </button>
    <button mat-icon-button class="example-icon favorite-icon margin" aria-label="Example icon-button with heart icon">
        Logout
      </button>
</mat-toolbar>
