<mat-card>

    <mat-action-list>
        <div mat-subheader>
            Menu
        </div>
        <button mat-list-item routerLink=""><mat-icon mat-list-icon>home</mat-icon>Home</button>
        <button mat-list-item routerLink="/applications"><mat-icon mat-list-icon>dns</mat-icon>All Applications</button>
        <button mat-list-item routerLink="/applicantId"><mat-icon mat-list-icon>cached</mat-icon>Search by applicant id</button>
        <button mat-list-item routerLink="/daterange"><mat-icon mat-list-icon>date_range</mat-icon>Search by date range</button>
        <button mat-list-item routerLink="/visualize"><mat-icon mat-list-icon>assessment</mat-icon>Visualization graph</button>
    </mat-action-list>
</mat-card>
